
/* Table of Contents
    1. Global Styles
    2. QR Code Styles
    3. Attribution Styles
    4. Mobile Styles (media queries)
*/

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

    /* 1. Global Styles */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}

    /* 2. QR Code Styles */

.qr {
    top: 15vh;
    height: calc(0.7*800px);
    width: calc(0.25*1440px);
    display: grid;
    position:absolute;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.qr img.code {
    object-fit: contain;
    object-position: center;
    width: 360px;
    border-radius: 10px;
    position: relative;
}

.qr h2 {
    font-weight: 700;
    font-size: 27px;
    padding: 0px 20px;
    color: var(--dark-blue);
}

.qr p {
    padding: 0px 21px;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-blue);
    margin-top: 0px;
}

    /* 3. Attribution Styles */

.attribution {
    position: absolute;
    bottom: 1vh;
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

    /* 4. Mobile Styles @375px */

@media only screen and (max-width: 375px){
    .qr {
        top: 9.5vh;
        width: calc(0.75*375px);
        height: calc(0.7*667px);
    }

    .qr img.code{
        width: 281px;
    }

    .qr h2 {
        padding: 0px 15px;
        font-size: 22px;
    }

    .qr p {
        font-size: 15px;
    }
}
