
/* Table of Contents
    1. Global Styles
    2. QR Code Styles
    3. Attribution Styles
    4. Mobile Styles (media queries)
*/

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* 1. Global Styles */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

/* 2. QR Code Styles */

.qr {
    top: 16vh;
    height: calc(0.35*1440px);
    width: calc(0.25*1440px);
    display: grid;
    position:absolute;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px;
}

.qr img#code {
    object-fit: contain;
    object-position: center;
    width: 360px;
    border-radius: 10px;
    position: relative;
}

.qr h2 {
    font-weight: 700;
    padding: 10px 10px 0px 10px;
    color: var(--dark-blue);
}

.qr p {
    padding: 0px 10px 10px 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--gray-blue);
}

    /* Background, Position */

    /* Typography 
        font-size: 15px;
        font-weight: 400, or 700;
    */

/* 3. Attribution Styles */

.attribution {
    position: absolute;
    bottom: 1vh;
}

/* 4. Mobile Styles */

@media (max-width: 375px){
    /*add mobile style here*/
}
